<div class="main-menu">
  <ul>
    <li>
      <a href="/admin"><i class="bx bxs-book-alt"></i> Books</a>
    </li>
    <li>
      <a href="/add-book"><i class="bx bxs-book-open"></i>Add Books</a>
    </li>
    <li>
      <a href="/library"><i class="bx bx-library"></i> Library</a>
    </li>
    <li>
      <a href="/first-year"><i class="bx bxs-graduation"></i> First Year</a>
    </li>
    <li>
      <a href="/second-year"><i class="bx bxs-graduation"></i> Second Year</a>
    </li>
    <li>
      <a href="/show-notice"><i class="bx bxs-graduation"></i>Notice</a>
    </li>
    <li>
      <a href="/logout"><i class="bx bx-log-out"></i> Log Out</a>
    </li>
  </ul>
</div>
