<footer>
  <div class="footer-box footer-box1">
    <div class="footersub-box1">
      <div class="fsubboxpic">
        <img src="/images/transparent.png" alt="" />
        <p>অল কেয়ার একাডেমী</p>
      </div>
      <p>
        বক্তৃতা, পাঠ, আলোচনার সংমিশ্রণের মাধ্যমে শিক্ষার্থীরা শিক্ষাগত ক্ষেত্রে
        শক্ত ভিত্তি অর্জন করবে।
      </p>
      <div class="footer-social">
        <div class="footersocial-icon">
          <a href="#"><i class="bx bxl-facebook"></i></a>
        </div>
        <div class="footersocial-icon">
          <a href="#"><i class="bx bxl-twitter"></i></a>
        </div>
        <div class="footersocial-icon">
          <a href="#"><i class="bx bxl-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="footersub-box2">
      <h2>Usefull Link</h2>
      <ul>
        <li><a href="/">হোম</a></li>
        <li><a href="/books">বই</a></li>
        <li><a href="/story">গল্প</a></li>
        <li><a href="/science">সাইন্স</a></li>
        <li><a href="/commerce">কমার্স</a></li>
        <li><a href="/arts">আর্টস</a></li>
        <li><a href="/new_year_books">বইমেলা ২০২৪</a></li>
      </ul>
    </div>
    <div class="footersub-box3">
      <h2>Newsletter</h2>
      <form action="">
        <input type="email" placeholder="Enter Email" required />
        <button>Subscribe</button>
      </form>
    </div>
  </div>
  <div class="footer-box footer-box2">
    <p>Designed by Rafat Ahmed Shadhin And Developed By Abu Said Shihab</p>
  </div>
</footer>
