<div class="subheader">
  <ul>
    <li><a href="/">হোম</a></li>
    <li><a href="/books">বই</a></li>
    <li><a href="/story">গল্প</a></li>
    <li><a href="/science">সাইন্স</a></li>
    <li><a href="/commerce">কমার্স</a></li>
    <li><a href="/arts">আর্টস</a></li>
    <li><a href="/new_year_books">বইমেলা ২০২৪</a></li>
  </ul>
</div>
