<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- favicon -->
    <link rel="icon" href="/images/transparent.png" type="image/x-icon" />
    <!-- boxicon link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- css link home.css -->
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/allbook.css" />

    <title>All Care Academy Library</title>
  </head>
  <body>
    <div class="allbook-container">
      <div class="header-main">
        <%-include("./partials/header.ejs")%>
        <!-- subheader -->
        <div class="subheader">
          <ul>
            <li><a href="/">হোম</a></li>
            <li><a href="/books">বই</a></li>
            <li><a href="/books-2024">বইমেলা ২০২৪</a></li>
          </ul>
        </div>
        <!-- subheader -->
      </div>
      <!-- ----------------all book------------------ -->
      <div class="allbook-home">
        <div class="allbook-left">
          <div class="allbook-lefttitle">
            <h2>বিষয়</h2>
          </div>
          <div class="allbook-subject">
            <ul>
              <li><a href="#">বাংলা</a></li>
              <li><a href="#">ইংরেজি</a></li>
              <li><a href="#">গণিত</a></li>
              <li><a href="#">রসায়ন</a></li>
              <li><a href="#">পদার্থবিজ্ঞান</a></li>
              <li><a href="#">জীববিজ্ঞান</a></li>
              <li><a href="#">তথ্য</a></li>
            </ul>
          </div>
        </div>
        <div class="allbook-right">
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-show">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
        </div>
      </div>
      <!-- ------------------all book--------------- -->
      <!-- --------------------------footer-------------------- -->
      <%-include("./partials/footer.ejs")%>
      <!-- ----------------------footer------------------- -->
    </div>
  </body>
</html>
