<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fav cion -->
    <link
      rel="shortcut icon"
      href="/images/transparent.png"
      type="image/x-icon"
    />
    <!-- boxicon link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- ----------------css link---------------- -->
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="stylesheet" href="/styles/footer.css" />

    <title>All Care Academy-Log In</title>
  </head>
  <body>
    <div class="login-container">
      <div class="login-main">
        <div class="header-main">
          <header>
            <div class="logo">
              <img src="/images/transparent.png" alt="" />
              <h2>All Care Academy</h2>
            </div>
            <div class="searchbar-header">
              <div class="search-inpfield">
                <form action="/search_page" method="post">
                  <input
                    type="text"
                    name="search"
                    id="searchfield"
                    autocomplete="off"
                    placeholder="বইয়ের নাম ও লেখক দিয়ে অনুসন্ধান করুন"
                  />
                  <button><i class="bx bx-search"></i></button>
                </form>
              </div>
              <div class="auto-suggetion"></div>
            </div>
            <nav>
              <ul>
                <!-- <li><a href="/">Home</a></li>
                  <li><a href="/first-year-books">First Year</a></li>
                  <li><a href="/second-year-books">Second Year</a></li>
                  <li><a href="/contact">Contact</a></li> -->
                <button><a href="/login">Log In</a></button>
              </ul>
            </nav>
            <div class="sidebar">
              <i class="bx bx-menu"></i>
            </div>
          </header>

          <!-- subheader -->
          <%-include("./partials/subheader.ejs")%>
          <!-- subheader -->
        </div>
        <div class="login-form">
          <div class="login-box">
            <h1>Admin Log In</h1>
            <form action="/login" method="POST">
              <input
                type="email"
                placeholder="Enter Email"
                name="email"
              /><br />
              <input
                type="password"
                placeholder="********"
                name="password"
              /><br />
              <button>Submit</button>
            </form>
          </div>
        </div>
        <!-- --------------------------footer-------------------- -->
        <%-include("./partials/footer.ejs")%>
        <!-- ----------------------footer------------------- -->
      </div>
    </div>
  </body>
</html>
