<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google fonts link -->
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- favicon -->
    <link rel="icon" href="/images/transparent.png" type="image/x-icon" />
    <!-- boxicon link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- css link home.css -->
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/footer.css" />

    <title>All Care Academy Library</title>
  </head>
  <body>
    <div class="container">
      <div class="home">
        <%-include("./partials/header.ejs")%>
        <!-- hero section -->

        <!-- hero section -->
      </div>
      <!-- --------------All Books------------------ -->
      <div class="all-book">
        <div class="all-booksearch">
          <div class="allbook-title">
            <h1>Second Year Books</h1>
          </div>
          <div class="search-field">
            <input type="text" placeholder="Search books..." />
            <button><i class="bx bx-search"></i></button>
          </div>
        </div>
        <div class="all-bookcategory">
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- --------------All Books------------------ -->
      <!-- --------------All Books------------------ -->
      <div class="all-book">
        <div class="all-booksearch">
          <div class="allbook-title">
            <h1>Popular Books</h1>
          </div>
          <div class="view-all">
            <button>View All</button>
          </div>
        </div>
        <div class="all-bookcategory">
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>

          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://ds.rokomari.store/rokomari110/category/1d9f089d01a74_image.webp"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h2>রসায়ন</h2>
              <h3>শ্রেণী: প্রথম বছর</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- --------------All Books------------------ -->
      <!-- ----------------about library----------------- -->
      <div class="about-main">
        <div class="about-text">
          <div></div>
          <h1>About Us</h1>
        </div>
        <div class="about-submain">
          <div class="about-box about-left">
            <div class="aboutbox abbox1">
              <div class="iconbox">
                <img src="/images/member-card.png" alt="" />
              </div>
              <h2>Member Card</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                officia, facere alias porro sed neque possimus fugit est
                asperiores voluptatem.
              </p>
            </div>
            <div class="aboutbox abbox1">
              <div class="iconbox">
                <img src="/images/member-card.png" alt="" />
              </div>
              <h2>Member Card</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                officia, facere alias porro sed neque possimus fugit est
                asperiores voluptatem.
              </p>
            </div>
            <div class="aboutbox abbox1">
              <div class="iconbox">
                <img src="/images/member-card.png" alt="" />
              </div>
              <h2>Member Card</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                officia, facere alias porro sed neque possimus fugit est
                asperiores voluptatem.
              </p>
            </div>
            <div class="aboutbox abbox1">
              <div class="iconbox">
                <img src="/images/member-card.png" alt="" />
              </div>
              <h2>Member Card</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                officia, facere alias porro sed neque possimus fugit est
                asperiores voluptatem.
              </p>
            </div>
          </div>
          <div class="about-box about-right">
            <img
              src="https://images.pexels.com/photos/1370291/pexels-photo-1370291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- ----------------about library----------------- -->
      <!-- --------------------------footer-------------------- -->
      <%-include("./partials/footer.ejs")%>
      <!-- ----------------------footer------------------- -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
      function onfocusinp() {
        var itempreview = document.querySelector(".item-preview");
        itempreview.style.display = "block";
      }
      // swipperjs
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </body>
</html>
